[Unit]
Description=PEI Py-RQ default worker
After = network.target
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/PEI/fieldcrawler/worker.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
