html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 800;
}

h2 {
  color: grey;
}

p{
  font-weight: 200;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  height: 50px;
  transition: all 0.5s
}
.logo {
  padding: 0 2.5rem;
}
.navbar__menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navbar__menu .menu__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}
.navbar__menu .menu__wrapper .menu__item {
  list-style: none;
  display: flex;
}
.navbar__menu .menu__wrapper .menu__item .menu__link {
  display: flex;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: white;
}

.scroll_up{
  transform: translateY(-80px);
}



.auto-responsive-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
}

.title-center {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}


.blue-title {
  color: #5F6DE0;
}

.light-blue-title {
  color: #DCE1FF;
}

.lighter-blue-title {
  color: #EFF1FF;
}

.normal-text {
  color: #778293;
  line-height: 1.8;
}

.bold-text {
  color: #778293;
  font-weight: 500;
}


.rideCare h1 {
  font-size: 100px;
  margin-left: 50px;
  margin-top: 200px;
  margin-bottom: 0px;
}


.rideCare p {
  margin-left: 55px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.reg-button {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2em;
  color: lightgray;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 54px;
  margin-top: 10px;
  transition-duration: 0.4s;
  margin-bottom: 60px;
  cursor: pointer;
}


.reg-button:hover {
  background-color: #DCE1FF;
  color: white;
  border: 1px solid white;
}




.main-image{
  float: left;
  width: 100%;
}

.mid-image{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
}

.auto-responsive-container .left-grid {
  margin-left: 60px;
}

.auto-responsive-container .right-grid {
  margin-right: 60px;
}

.text-gird {
  padding: 30px;
  margin: auto;
}


.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
  justify-items: center;
  margin-left: 50px;
  margin-right: 50px;
}


.feature {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.feature-icon {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-top: 100px;
}

.feature h2 {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 30px;
}

.anomalies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 8em;
  grid-auto-rows: minmax(300px, auto);
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.card {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #496799;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 40px;
}

.card-icon {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.normal {
  background-color: white;
  border: 1px solid #55B3AD;
}

.smoke {
  background-color: #7884E5;
}

.stink {
  background-color: #C3CBFF;
}

.normal h2 {
  font-size: 40px;
}

.smoke p,
.stink p {
  color: white;
  margin-bottom: 30px;
}

.smoke h2,
.stink h2 {
  color: white;
  font-size: 40px;
}


.ml-image{
  margin-left: 30px;
  margin-top: 10px;
  width: 100%;
}

.samples-img {
  width: 100%;
  margin-bottom: 50px;
}

.blue-background {
  background-color: #DCE1FF;
}

.titles-degrade h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.infrastructure-img {
  width: 80%;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.right-align {
  margin-top: 80px;
  text-align: right;
  margin-right: 60px;
}

.resources {
  margin-bottom: 30px;
  margin-left: 30px;
}

.cloud {
  color: #E5E6EA;
}

.logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer p.apoio {
  padding-top: 30px;
  text-align: center;
  color: white;
}

.footer p.year {
  margin-bottom: 0px;
  padding-bottom: 10px;

  text-align: center;
  color: white;
  font-size: 10px;
}

.footer img {
  padding: 40px;
}


@media only screen and (max-width: 600px) {
  .rideCare h1 {
    font-size: 60px;
    margin-top: 100px;
  }

  .logos-container {
    flex-direction: column;
    align-items: center;
  }
}
.container {

  margin: 20px 40px;
  color: black;
}

.heading {
  font-size: 60px;
  color: white;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile .profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

.profile-icons{
  display: flex;
  justify-content: flex-start;
  padding-top: 0px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  color: #171515;
}

.fa-linkedin {
  color: #0072b1;
}

.team {
  text-align: center;
  font-size: 40px;
  margin-bottom: 90px;
  margin-top: 90px;
}



@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}




.credits-car {
  font-size: 10px;
  color: lightgray;
  text-align: right;
  margin-top: 0px;
  padding-right: 10px;
}

.credits-map {
  font-size: 10px;
  color: lightgray;
  text-align: left;
  margin-top: 0px;
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}


