{{extend 'layout.html'}}

{{block head}}
<style type="text/css">
    .apis a { margin: 5px;}
</style>
{{end}}

{{block header}}
<div class="jumbotron jumbotron-fluid" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">RIDECARE</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">

    <h2 style="font-weight:bold;">Raspberry Pi</h2>

<div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;">
<div class="container center apis">
<p><strong class="btn btn-secondary" style="background:#000000;cursor:default;">API:</strong> <a href="{{=URL('default','sensors')}}/all/json" target="_blank" class="btn btn-secondary">/datalake/sensors/all/json</a>
<a href="{{=URL('default','sensors')}}/all/csv" target="_blank" class="btn btn-secondary">/datalake/sensors/all/csv</a>

<a href="{{=URL('default', 'sensors')}}/last/json" target="_blank" class="btn btn-secondary">/datalake/sensors/last/json</a>
<a href="{{=URL('default','sensors')}}/last/csv" target="_blank" class="btn btn-secondary">/datalake/sensors/last/csv</a>


<a href="{{=URL('default','raspberry')}}/status/66-ZZ-66" target="_blank" class="btn btn-secondary">/datalake/raspberry/status/&lt;carId&gt;</a>
<a href="{{=URL('default','history')}}/66-ZZ-66/1607879989.756229/5" target="_blank" class="btn btn-secondary">/datalake/history/&lt;carId&gt;/&lt;timestamp&gt;/&lt;limit (-1=tudo)&gt;</a>
<a href="{{=URL('default','recent')}}/66-ZZ-66/1607879989.756229/5" target="_blank" class="btn btn-secondary">/datalake/recent/&lt;carId&gt;/&lt;timestamp&gt;/&lt;limit (-1=tudo)&gt;</a>

<a href="{{=URL('default','boots')}}" target="_blank" class="btn btn-secondary">/datalake/boots</a>
<a href="{{=URL('default','boots')}}/66-ZZ-66" target="_blank" class="btn btn-secondary">/datalake/boots/&lt;carId&gt;</a>
</p>

    
<p><strong class="btn btn-secondary" style="background:#000000;cursor:default;">TABLES:</strong> <a class="btn btn-primary" href="{{=URL('default','index')}}">Sensors</a>
<a class="btn btn-primary" href="{{=URL('default','index', args=['bootings'])}}">Bootings</a>
</p>

</div>
</div>

<p style="float:right;font-size:12px;color:gray;">Auto-update: <span class="autoreloading">5 sec (DESLIGADO)</span></p>

<br><br>

      {{if load == "bme680":}}
      {{=LOAD('default', 'sensor2.load', ajax=True)}}
      {{elif load == "sds011":}}
      {{=LOAD('default', 'sensor1.load', ajax=True)}}

      {{elif load == "bootings":}}
      {{=LOAD('default', 'bootings.load', ajax=True)}}
      {{else:}}
      {{=LOAD('default', 'sensor.load', ajax=True)}}
      {{pass}}

<script>
//var timmer = setInterval(timmedReload, 5000);
function timmedReload() {
        if (clicked == false) {
            $("div[data-w2p_remote]").get(0).reload();
        }
    }
</script>

</div>
</div>
