[Unit]
Description=Systemd service for backend.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/ridecare_backend.sh

[Install]
WantedBy=multi-user.target