[Unit]
Description=Example systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/ridecare_backend.sh

[Install]
WantedBy=multi-user.target